form {
    margin: auto;
}

input, button {
    margin: 5px;
    width: 25%;
    border: 2px solid black;
    font-size: 1.5vh;
}

.drop-down {
    margin: 5px;
    width: 25%;
    border: 2px solid black;
    font-size: 1.5vh;
}