form {
    margin: auto;
}

input, button {
    margin: 5px;
    width: 20%;
    border: 2px solid black;
    font-size: 2vh;
}

.drop-down {
    margin: 5px;
    width: 20%;
    border: 2px solid black;
    font-size: 2vh;
}